html,
body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'iranYekan';
  font-weight: bold;
  src: url('/fonts/IRANYekanWebBold.woff2') format('woff');
}

@font-face {
  font-family: 'iranYekan';
  font-weight: normal;
  src: url('/fonts/IRANYekanWebRegular.woff2') format('woff');
}

@font-face {
  font-family: 'iranYekan';
  font-weight: lighter;
  src: url('/fonts/IRANYekanWebLight.woff2') format('woff');
}
html {
  font-family: var(--font-iran-yekan);
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 0.375rem;
  height: 0.375rem;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #7ebc59;
  background-clip: padding-box;
  border-radius: 0.25rem;
}

a {
  text-decoration: none;
}
