@font-face {
  font-family: 'iranYekan';
  font-weight: bold;
  src: url('/fonts/iranyekanwebbold.woff2') format('woff');
}

@font-face {
  font-family: 'iranYekan';
  font-weight: normal;
  src: url('/fonts/iranyekanwebregular.woff2') format('woff');
}

@font-face {
  font-family: 'iranYekan';
  font-weight: light;
  src: url('/public/fonts/iranyekanweblight.woff2') format('woff');
}
::-webkit-scrollbar {
  width: 0.375rem;
  height: 0.375rem;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #7ebc59;
  background-clip: padding-box;
  border-radius: 0.25rem;
}
